<html>

<head>
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>

<body>
    <div>
        Zendesk Sec Challenge:
        <a href="{{ url_for('welcome') }}"> Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}"> Log In</a>
        <a href="{{ url_for('reg_user') }}"> Register </a>
        {% else %}
        <a href="{{ url_for('logout') }}"> Log Out</a>
        {% endif %}

    </div>

    <div class="form-group">
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

</body>


</html>